<nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-primary">
    <a class="navbar-brand" href="#">ToDo List</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/">List Tasks</a>
        <a class="nav-item nav-link active" href="/task/add">Add Task</a>
        </div>
    </div>
</nav>