<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
        <% include ./partials/nav %>
        <div class="card" style="width: 50%">
        <form method="post" action="/task/add/" style="padding: 20px">
            <div class="form-group">
                <label for="summary" class="text-primary">Summary</label>
                <input class="form-control" id="summary" name="summary"></textarea>

                <label for="detail" class="text-primary">Details</label>
                <textarea class="form-control" id="detail" rows="3" name="detail"></textarea>
            
                <label for="priority" class="text-primary">Priority</label>
                <select class="form-control" id="priority" name="priority">
                    <option>Low</option>
                    <option>Normal</option>
                    <option>High</option>
                </select>

                <label for="duedate" class="text-primary">Due Date:</label>
                <input type="date" class="form-control" id="duedate" name="dueDate">
                <input id="isComplete" name="isComplete" type="hidden" value="false">
            </div>
                <input type="submit" class="btn btn-primary" value="Add Task">
        </form>
        </div>
    </div> <!-- container -->
  </body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</html>
