<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/fontawesome-all.css">
  </head>
  <body>
    <div class="container">
      <% include ./partials/nav %>
      <%  let task = {}; 
         for(let i = 0; i < tasks.length; i++) { 
            task = tasks[i] %>
            <% include ./partials/showtask %>
       <% } %> 
    </div> <!-- container -->
  </body>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</html>
